@import "../generals.scss"; //не уверена что это тут вообще должно быть

.MainContainer{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding-top: 120px;
  }

  // .Know{
//     margin: auto; padding: 30px;
//     color: rgb(88, 88, 88);
//     font-size: smaller;
//     // border: solid 1px red;
// }
.Sentence{
    background-color: $sentence-background-color;
    padding: 40px;
    color: rgb(43, 43, 43);
}
.FindAWord{
    margin: 15px;
}