@import "../generals.scss"; 

.MainContainer{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding-top: 120px;
  }

.Sentence{
    background-color: $sentence-background-color;
    padding: 40px;
    color: rgb(43, 43, 43);
}
.FindAWord{
    margin: 15px;
}

// .WordsTable{
//     display: none;
// }
.ShowHideContainer{
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 25px;
    align-items: center;
    justify-content: center;

}
.Border{
    border-bottom: 2px dashed $arrow-color;
    width: 100%;
    height: 1px;
}

.ShowHideButton{
margin: 10px;
padding-top: 5px;
cursor: pointer;
    img {
        transition: transform 0.5s ease;
    }
}

.ShowTheTable{
    margin-top: 30px;
    color: rgb(88, 88, 88);
    font-size: smaller;
}

.hide{
    transform: rotate(180deg);
    // transition: transform 0.5s ease;
}

// .show{
//     transform: rotate(180deg);
//     transition: transform 0.5s ease;
// }