@import "../generals.scss"; //не уверена что это тут вообще должно быть

.MainContainer{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }
  .CardContainer{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    .Card:hover{
        box-shadow: 0 0 10px $card-hover-color;
        cursor: pointer;
    }
    .Arrow:hover{
        border-top: 10px solid $arrow-hover-color;
        border-right: 10px solid $arrow-hover-color;
        cursor: pointer;
    }


  }

  .Card{
    width: 400px;
    height: 250px;
    background-color: $card-color;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;


    .Word{
        @extend %font-fam-card;
        // margin: auto;
        font-size: 60px;
        color: $word-color
    }
    .Transcription{
        margin-bottom: 20px;
        color: $transcription-color;
    }
  }

  .Arrow {
    width: 60px;
    height: 60px;
    border-top: 10px solid $arrow-color;
    border-right: 10px solid $arrow-color;
    // border: solid 1px red;
    margin-top: auto;
    margin-bottom: auto;
}  
.Left{
    transform: rotate(-135deg);
}
.Right{
    transform: rotate(45deg);
}
.Know{
    margin: auto; padding: 30px;
    color: rgb(88, 88, 88);
    font-size: smaller;
    // border: solid 1px red;
}
.Sentence{
    background-color: $sentence-background-color;
    padding: 40px;
    color: rgb(43, 43, 43);
}
.FindAWord{
    margin: 15px;
}