@import "../generals.scss"; 

.Container{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    position: relative; 
    width: 400px; /* Везде задаю одинаковую ширину чтобы карточка не вылезала за нее */
    height: 250px; /* и высоту! */
}

.Wrapper {
    position: relative;
    width: 400px; 
    height: 250px; 
    overflow: hidden;
    flex-shrink: 0;
}

.Card{
    position: relative;
    width: 400px;
    height: 250px;
    background-color: $card-color;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    z-index: 2;

    .Word{
        @extend %font-fam-card;
        font-size: 60px;
        color: $word-color
    }
    .Transcription{
        margin-bottom: 20px;
        color: $transcription-color;
    }
}

.Wrapper:hover{
    box-shadow: 0 0 10px $card-hover-color;
    cursor: pointer;
}

/* Animation classes */
.slide-enter {
    opacity: 0;
    transform: translateX(100%);

}

.slide-enter-active {
    opacity: 1;
    transform: translateX(0%);
    transition: opacity 300ms, transform 300ms;

}
.slide-exit {
    opacity: 1;
    transform: translateX(0%);
}

.slide-exit-active {
    opacity: 0;
    transform: translateX(-100%);
    transition: opacity 300ms, transform 300ms;
}