@import "../generals.scss";

.Header{
    position: fixed;
    z-index: 4;
    top: 0;
    width: 100%;
    height: 100px;
    background-color: $card-color;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
}

.Logo{
    // width: 100px;
    height: 50px;
    cursor: pointer;
}

a{
    margin: 5px;
    text-decoration: none;
}
// .Navigation{
//     display: flex;
//     justify-content: space-around;
// }