

table{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color: rgb(43, 43, 43);
    margin-bottom: 80px;

    tr{ 
        padding: 5px;
    }
    td{
        text-align: center;
        min-width: 150px;
        padding: 5px;
    }
    th{
        padding: 5px;
        background-color: rgb(253, 241, 130);
        min-width: 150px;
    }
    tbody tr:nth-child(odd) {
        background-color: rgb(252, 244, 174);
      }
      
    tbody tr:nth-child(even) {
        background-color: rgb(255, 252, 221);
      }
}


