Header{
  display: flex;
  align-items: center;
  justify-content: center;
}

button{
  margin: 20px;
}
input{
  margin: 10px;
}

.Footer{
  display: flex;
  align-items: center;
  justify-content: center;
}
